.mini-loader-content {
  align-items: center;
  display: flex;
  height: 25vh;
  justify-content: center; }

svg#mini-loader {
  height: 50px;
  width: 50px; }

#b0 {
  animation: b0 4s infinite ease;
  transform-origin: 250px 250px; }

#b1 {
  animation: b1 4s infinite ease; }

#b2 {
  animation: b2 4s infinite ease; }

#b3 {
  animation: b3 4s infinite ease; }

#b4 {
  animation: b4 4s infinite ease; }

@keyframes b0 {
  0% {
    transform: rotate(0); }
  25% {
    transform: rotate(-90deg); }
  50% {
    transform: rotate(-180deg); }
  75% {
    transform: rotate(-270deg); }
  100% {
    transform: rotate(-360deg); } }

@keyframes b1 {
  0% {
    transform: translate(0, 0); }
  25% {
    transform: translate(0, 355px); }
  50% {
    transform: translate(355px, 355px); }
  75% {
    transform: translate(355px, 0); }
  100% {
    transform: translate(0, 0); } }

@keyframes b2 {
  0% {
    transform: translate(0, 0); }
  25% {
    transform: translate(-355px, 0); }
  50% {
    transform: translate(-355px, 355px); }
  75% {
    transform: translate(0, 355px); }
  100% {
    transform: translate(0, 0); } }

@keyframes b3 {
  0% {
    transform: translate(0, 0); }
  25% {
    transform: translate(0, -355px); }
  50% {
    transform: translate(-355px, -355px); }
  75% {
    transform: translate(-355px, 0); }
  100% {
    transform: translate(0, 0); } }

@keyframes b4 {
  0% {
    transform: translate(0, 0); }
  25% {
    transform: translate(355px, 0); }
  50% {
    transform: translate(355px, -355px); }
  75% {
    transform: translate(0, -355px); }
  100% {
    transform: translate(0, 0); } }
