div.header {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px; }

div.ElectionSetup {
  margin: 0 50px 50px 50px; }

input.button-primary {
  margin-top: 20px; }

div.optionCanvas {
  margin: 0 50px 50px 50px; }

.redc {
  color: red;
  font-weight: bold; }
