div.header{
	text-align:center;
	margin-bottom:50px;
	margin-top: 50px;
}
div.ElectionSetup{
	margin: 0 50px 50px 50px;
}

input.button-primary{
	// margin: 0 auto;
	margin-top:20px;
}


div.optionCanvas{
	margin: 0 50px 50px 50px;
}

#queryform{
	// margin: 0 auto;
	// margin-left:100px;
	// text-align:center
}